<% var data = {
  title: "Test"
}; %>

<%= _.template(require('../includes/header.html'))(data) %>

<h1 class="title">Webpack</h1>
<p>!!!1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, distinctio?</p>
	
<%= require('../includes/footer.html') %>