@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../fonts/SFUIDisplay-Regular/SFUIDisplayRegular.woff2') format('woff2');
    src: url('../fonts/SFUIDisplay-Regular/SFUIDisplayRegular.woff') format('woff');
}
